test.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.pvb.nomis.syscon.net/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services.pvb.nomis.syscon.net/" name="PrisonVisitsBookingServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.pvb.nomis.syscon.net/"
                        schemaLocation="http://docker:8888/ws?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="checkPrisonerInfo">
        <part name="parameters" element="tns:checkPrisonerInfo"></part>
    </message>
    <message name="checkPrisonerInfoResponse">
        <part name="parameters" element="tns:checkPrisonerInfoResponse"></part>
    </message>
    <message name="PrisonerInfoValidationException">
        <part name="fault" element="tns:PrisonerInfoValidationException"></part>
    </message>
    <message name="getAvailableTimeSlots">
        <part name="parameters" element="tns:getAvailableTimeSlots"></part>
    </message>
    <message name="getAvailableTimeSlotsResponse">
        <part name="parameters" element="tns:getAvailableTimeSlotsResponse"></part>
    </message>
    <message name="VisitorValidationException">
        <part name="fault" element="tns:VisitorValidationException"></part>
    </message>
    <message name="TimeIntervalValidationException">
        <part name="fault" element="tns:TimeIntervalValidationException"></part>
    </message>
    <message name="bookVisit">
        <part name="parameters" element="tns:bookVisit"></part>
    </message>
    <message name="bookVisitResponse">
        <part name="parameters" element="tns:bookVisitResponse"></part>
    </message>
    <message name="TimeSlotValidationException">
        <part name="fault" element="tns:TimeSlotValidationException"></part>
    </message>
    <message name="cancelVisit">
        <part name="parameters" element="tns:cancelVisit"></part>
    </message>
    <message name="cancelVisitResponse">
        <part name="parameters" element="tns:cancelVisitResponse"></part>
    </message>
    <message name="ServiceException">
        <part name="fault" element="tns:ServiceException"></part>
    </message>
    <message name="validateVisitor">
        <part name="parameters" element="tns:validateVisitor"></part>
    </message>
    <message name="validateVisitorResponse">
        <part name="parameters" element="tns:validateVisitorResponse"></part>
    </message>
    <portType name="PrisonVisitsBookingServiceImpl">
        <operation name="checkPrisonerInfo">
            <input wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/checkPrisonerInfoRequest"
                   message="tns:checkPrisonerInfo"></input>
            <output wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/checkPrisonerInfoResponse"
                    message="tns:checkPrisonerInfoResponse"></output>
            <fault message="tns:PrisonerInfoValidationException" name="PrisonerInfoValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/checkPrisonerInfo/Fault/PrisonerInfoValidationException"></fault>
        </operation>
        <operation name="getAvailableTimeSlots">
            <input wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/getAvailableTimeSlotsRequest"
                   message="tns:getAvailableTimeSlots"></input>
            <output wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/getAvailableTimeSlotsResponse"
                    message="tns:getAvailableTimeSlotsResponse"></output>
            <fault message="tns:PrisonerInfoValidationException" name="PrisonerInfoValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/getAvailableTimeSlots/Fault/PrisonerInfoValidationException"></fault>
            <fault message="tns:VisitorValidationException" name="VisitorValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/getAvailableTimeSlots/Fault/VisitorValidationException"></fault>
            <fault message="tns:TimeIntervalValidationException" name="TimeIntervalValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/getAvailableTimeSlots/Fault/TimeIntervalValidationException"></fault>
        </operation>
        <operation name="bookVisit">
            <input wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/bookVisitRequest"
                   message="tns:bookVisit"></input>
            <output wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/bookVisitResponse"
                    message="tns:bookVisitResponse"></output>
            <fault message="tns:PrisonerInfoValidationException" name="PrisonerInfoValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/bookVisit/Fault/PrisonerInfoValidationException"></fault>
            <fault message="tns:VisitorValidationException" name="VisitorValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/bookVisit/Fault/VisitorValidationException"></fault>
            <fault message="tns:TimeSlotValidationException" name="TimeSlotValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/bookVisit/Fault/TimeSlotValidationException"></fault>
        </operation>
        <operation name="cancelVisit">
            <input wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/cancelVisitRequest"
                   message="tns:cancelVisit"></input>
            <output wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/cancelVisitResponse"
                    message="tns:cancelVisitResponse"></output>
            <fault message="tns:ServiceException" name="ServiceException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/cancelVisit/Fault/ServiceException"></fault>
        </operation>
        <operation name="validateVisitor">
            <input wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/validateVisitorRequest"
                   message="tns:validateVisitor"></input>
            <output wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/validateVisitorResponse"
                    message="tns:validateVisitorResponse"></output>
            <fault message="tns:VisitorValidationException" name="VisitorValidationException"
                   wsam:Action="http://services.pvb.nomis.syscon.net/PrisonVisitsBookingServiceImpl/validateVisitor/Fault/VisitorValidationException"></fault>
        </operation>
    </portType>
    <binding name="PrisonVisitsBookingServiceImplPortBinding" type="tns:PrisonVisitsBookingServiceImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="checkPrisonerInfo">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="PrisonerInfoValidationException">
                <soap:fault name="PrisonerInfoValidationException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getAvailableTimeSlots">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="PrisonerInfoValidationException">
                <soap:fault name="PrisonerInfoValidationException" use="literal"></soap:fault>
            </fault>
            <fault name="VisitorValidationException">
                <soap:fault name="VisitorValidationException" use="literal"></soap:fault>
            </fault>
            <fault name="TimeIntervalValidationException">
                <soap:fault name="TimeIntervalValidationException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="bookVisit">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="PrisonerInfoValidationException">
                <soap:fault name="PrisonerInfoValidationException" use="literal"></soap:fault>
            </fault>
            <fault name="VisitorValidationException">
                <soap:fault name="VisitorValidationException" use="literal"></soap:fault>
            </fault>
            <fault name="TimeSlotValidationException">
                <soap:fault name="TimeSlotValidationException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="cancelVisit">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="validateVisitor">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="VisitorValidationException">
                <soap:fault name="VisitorValidationException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="PrisonVisitsBookingServiceImplService">
        <port name="PrisonVisitsBookingServiceImplPort" binding="tns:PrisonVisitsBookingServiceImplPortBinding">
            <soap:address location="http://docker:8888/ws"></soap:address>
        </port>
    </service>
</definitions>