config/nomis_test.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://services.pvb.nomis.syscon.net/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:moj="moj"
           version="1.0" targetNamespace="http://services.pvb.nomis.syscon.net/">

    <xs:element name="PrisonVisitBookingOperationFault" nillable="true" type="tns:prisonVisitBookingOperationFaultBean"/>

    <xs:element name="bookVisit" type="tns:bookVisit"/>

    <xs:element name="bookVisitResponse" type="tns:bookVisitResponse"/>

    <xs:element name="cancelVisit" type="tns:cancelVisit"/>

    <xs:element name="cancelVisitResponse" type="tns:cancelVisitResponse"/>

    <xs:element name="checkPrisonerInfo" type="tns:checkPrisonerInfo"/>

    <xs:element name="checkPrisonerInfoResponse" type="tns:checkPrisonerInfoResponse"/>

    <xs:element name="getAvailableTimeSlots" type="tns:getAvailableTimeSlots"/>

    <xs:element name="getAvailableTimeSlotsResponse" type="tns:getAvailableTimeSlotsResponse"/>

    <xs:complexType name="cancelVisit">
        <xs:sequence>
            <xs:element name="prisonerInfo" type="tns:prisonerInfo" minOccurs="0"/>
            <xs:element name="visitReference" type="moj:LimitedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="prisonerInfo">
        <xs:sequence>
            <xs:element name="forename" type="moj:LimitedString" minOccurs="0"/>
            <xs:element name="surname" type="moj:LimitedString" minOccurs="0"/>
            <xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="number" type="moj:LimitedString" minOccurs="0"/>
            <xs:element name="prisonId" type="moj:LimitedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cancelVisitResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="prisonVisitBookingOperationFaultBean">
        <xs:sequence>
            <xs:element name="message" type="moj:LimitedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkPrisonerInfo">
        <xs:sequence>
            <xs:element name="prisonerInfo" type="tns:prisonerInfo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkPrisonerInfoResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAvailableTimeSlots">
        <xs:sequence>
            <xs:element name="prisonerInfo" type="tns:prisonerInfo" minOccurs="0"/>
            <xs:element name="visitors" type="tns:visitor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="visitor">
        <xs:sequence>
            <xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="forename" type="moj:LimitedString" minOccurs="0"/>
            <xs:element name="surname" type="moj:LimitedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAvailableTimeSlotsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:timeSlot" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="timeSlot">
        <xs:sequence>
            <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookVisit">
        <xs:sequence>
            <xs:element name="prisonerInfo" type="tns:prisonerInfo" minOccurs="0"/>
            <xs:element name="visitors" type="tns:visitor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="timeSlot" type="tns:timeSlot" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="bookVisitResponse">
        <xs:sequence>
            <xs:element name="return" type="moj:LimitedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>