config/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.pvb.nomis.syscon.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.pvb.nomis.syscon.net/" name="PrisonVisitBookingOperationsService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.pvb.nomis.syscon.net/" schemaLocation="http://172.22.16.2:9006/PrisonVisitBookingService/PrisonVisitBookingOperationsService?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="checkPrisonerInfo">
    <part name="parameters" element="tns:checkPrisonerInfo"/>
  </message>
  <message name="checkPrisonerInfoResponse">
    <part name="parameters" element="tns:checkPrisonerInfoResponse"/>
  </message>
  <message name="PrisonVisitBookingOperationFault">
    <part name="fault" element="tns:PrisonVisitBookingOperationFault"/>
  </message>
  <message name="getAvailableTimeSlots">
    <part name="parameters" element="tns:getAvailableTimeSlots"/>
  </message>
  <message name="getAvailableTimeSlotsResponse">
    <part name="parameters" element="tns:getAvailableTimeSlotsResponse"/>
  </message>
  <message name="bookVisit">
    <part name="parameters" element="tns:bookVisit"/>
  </message>
  <message name="bookVisitResponse">
    <part name="parameters" element="tns:bookVisitResponse"/>
  </message>
  <message name="cancelVisit">
    <part name="parameters" element="tns:cancelVisit"/>
  </message>
  <message name="cancelVisitResponse">
    <part name="parameters" element="tns:cancelVisitResponse"/>
  </message>
  <portType name="PrisonVisitBookingOperations">
    <operation name="checkPrisonerInfo">
      <input message="tns:checkPrisonerInfo"/>
      <output message="tns:checkPrisonerInfoResponse"/>
      <fault message="tns:PrisonVisitBookingOperationFault" name="PrisonVisitBookingOperationFault"/>
    </operation>
    <operation name="getAvailableTimeSlots">
      <input message="tns:getAvailableTimeSlots"/>
      <output message="tns:getAvailableTimeSlotsResponse"/>
      <fault message="tns:PrisonVisitBookingOperationFault" name="PrisonVisitBookingOperationFault"/>
    </operation>
    <operation name="bookVisit">
      <input message="tns:bookVisit"/>
      <output message="tns:bookVisitResponse"/>
      <fault message="tns:PrisonVisitBookingOperationFault" name="PrisonVisitBookingOperationFault"/>
    </operation>
    <operation name="cancelVisit">
      <input message="tns:cancelVisit"/>
      <output message="tns:cancelVisitResponse"/>
      <fault message="tns:PrisonVisitBookingOperationFault" name="PrisonVisitBookingOperationFault"/>
    </operation>
  </portType>
  <binding name="PrisonVisitBookingOperationsPortBinding" type="tns:PrisonVisitBookingOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="checkPrisonerInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PrisonVisitBookingOperationFault">
        <soap:fault name="PrisonVisitBookingOperationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getAvailableTimeSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PrisonVisitBookingOperationFault">
        <soap:fault name="PrisonVisitBookingOperationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="bookVisit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PrisonVisitBookingOperationFault">
        <soap:fault name="PrisonVisitBookingOperationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelVisit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PrisonVisitBookingOperationFault">
        <soap:fault name="PrisonVisitBookingOperationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PrisonVisitBookingOperationsService">
    <port name="PrisonVisitBookingOperationsPort" binding="tns:PrisonVisitBookingOperationsPortBinding">
      <soap:address location="http://172.22.16.2:9006/PrisonVisitBookingService/PrisonVisitBookingOperationsService"/>
    </port>
  </service>
</definitions>